# docker images
NAME_IMAGE_API=test_rest_api
NAME_IMAGE_TELEGRAM_BOT=test_tg_api
NAME_IMAGE_FRONTEND=test_frontend

# Uvicorn environments:
UNICORN_HOST="0.0.0.0"
UNICORN_PORT=80
UNICORN_LOG_LEVEL="debug"
UNICORN_RELOAD=true
UNICORN_WORKERS=4

# CORS environments:
ALLOW_ORIGINS=["*"]
ALLOW_HEADERS=["*"]
ALLOW_CREDENTIALS=true
ALLOW_METHODS=["*"]

# GRPC Server
GRPC_SERVER_HOST='[::]'
GRPC_SERVER_PORT=50051

# Telagram bot
TELEGRAM_BOT_TOKEN="tg_bot_api_key"
TELEGRAM_BOT_DEFAULT_LANG="ru"
TELEGRAM_ADMIN_CHAT_ID="tg_chat_id"
TELEGRAM_GRPC_HOST="api"
TELEGRAM_GRPC_PORT=50051
TELEGRAM_WEBAPP_ADDRESS="http://localhost:8081"
TELEGRAM_LANGUAGES=["ru", "en"]
TELEGRAM_QR_PIC_DIR=/qr_pictures

# PgAdmin
PGADMIN_DEFAULT_EMAIL="admin@admin.com"
PGADMIN_DEFAULT_PASSWORD="admin"

# Application
DEBUG=False
INSTALL_DEV=True
METRICS_PREFIX="qr"
APP_NAME="qr_bill_app"
SECRET_KEY=secret_key
ACCESS_TOKEN_EXPIRE_MINUTES=30
TOKEN_EXPIRY_TIME_HOURS=2
FISCAL_SERVICE_HOSTNAME="https://mapr.tax.gov.me/"
FISCAL_SERVICE_URI="ic/"
FISCAL_SERVICE_API_URI="api/verifyInvoice"
TIME_LIFE_TEMP_LOGIN_LINK_MIN=5
FRONTEND_APP_LOGIN_LINK_PREFIX="http://localhost:8081/login_by_tg/"
FRONTEND_APP_VERIFY_LINK_PREFIX="http://localhost:8081/verify/"
REST_API_HOST="http://localhost"
REST_API_PORT="80"
REST_API_PREFIX="/api/v1"
REST_API_LOGIN_LINK_URI="/login_links/countdown/"
REST_API_TELEGRAM_BOT_TOKEN=tg_bot_api_key
REST_API_TELEGRAM_ADMIN_CHAT_ID=tg_chat_id

# Database environments:
DATABASE_DIALECT="postgresql"
DATABASE_DRIVER="psycopg2"
DATABASE_HOST="pg"
DATABASE_PORT=5432
DATABASE_USER="db_user"
DATABASE_PASSWORD="db_pass"
DATABASE_NAME="db"
DATABASE_ECHO=true
DATABASE_POOL_RECYCLE=3600
DATABASE_POOL_PRE_PING=true
DATABASE_AUTO_FLUSH=false
DATABASE_EXPIRE_ON_COMMIT=false

# Frontend
VUE_APP_ENV=production
VUE_APP_THIS_HOST_API=false
VUE_APP_PREFIX=/api/v1
VUE_APP_API_PROD=https://prodprodprod.com
VUE_APP_API_STAG=https://testtesttest.com
VUE_APP_API_DEV=http://localhost:8080

# SMTP SErver
MASTER_EMAIL=admin@admin.com
SMTP_SERVER=smtp.test.com
SMTP_SERVER_PORT=25
SMTP_SERVER_PASSWORD="smtp-pass"
EMAIL_REPLY_TO=admin@admin.com
MAILERSEND_API_KEY=test_key