apiVersion: v1
kind: Service
metadata:
  name: api
spec:
  selector:
    app: ${APP_NAME_LABEL}
    tier: backend
  ports:
    - name: http
      port: 80
      targetPort: 80
      nodePort: 5555
    - name: grpc
      port: 50051
      targetPort: 50051
  type: ClusterIP
